[submodule "deps/zig-wayland"]
	path = deps/zig-wayland
	url = https://codeberg.org/ifreund/zig-wayland
[submodule "deps/zig-pixman"]
	path = deps/zig-pixman
	url = https://codeberg.org/ifreund/zig-pixman
[submodule "deps/zig-xkbcommon"]
	path = deps/zig-xkbcommon
	url = https://codeberg.org/ifreund/zig-xkbcommon
[submodule "deps/zig-wlroots"]
	path = deps/zig-wlroots
	url = https://codeberg.org/ifreund/zig-wlroots
