# SPDX-FileCopyrightText: © 2024 The River Developers
# SPDX-License-Identifier: 0BSD

Isaac Freund <mail@isaacfreund.com> <ifreund@ifreund.xyz>
Hugo Machet <mail@hmachet.com> <mail@novakane.xyz>
Hugo Machet <mail@hmachet.com> <hmachet@zoho.com>
